<div class="container"
  <div class="row"
    <div class="col mx-5">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading text-center">Salut toi!</h4>
        <p>Nous c'est Jimmy et Emma</p>
        <hr>
        <p class="mb-0">On est dans la team Montpellier et on est ravis de t'accueillir sur notre super site</p>
      </div>
    </div>
  </div>
</div>
