<div class="container"
  <div class="row"
    <div class="col mx-5">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action"><strong>Vous pouvez nous joindre</strong></a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Par téléphone au 06 47 56 89 43</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">Par mail à mages_noirs_mtp@thp.com</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">Par portoloin au 4, Privet Drive, Little Whinging, Surrey</a>
      </div>
    </div>
  </div>
</div>